/*--========= Focus Out =========--*/
a, a:focus, a:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active, .form-control:focus, .form-control:active,
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    -webkit-outline: none !important;
    -moz-outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
    border-color: #ced4da;
    -webkit-border-color: #ced4da;
}

.form-check-input:checked {
    background-color: #283a5a;
    border-color: #283a5a;
}

/*--========= End Focus Out =========--*/

/*--Media Objects--*/
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

/*-- End Media Objects--*/

.formula {
    text-align: center;
    color: #999999;
}

.formula .denominator {
    border-top: 2px solid #999;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    padding: 0 10px;
    font-style: italic;
    color: #999999;
}

.formula .numerator {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    font-style: italic;
    color: #999999;
    border-bottom: 2px solid #999;
}

.pt-85 {
    /*padding-top: 85px !important;*/
    /*padding-top: 50px !important;*/
    padding-top: 28px !important;

}

@media (max-width: 1199px) {
    .pt-85 {
        padding-top: 0 !important;
    }
}

.card-header-bg {
    background-color: #1c7cc7 !important;
}

.header-bg1 {
    background-color: #2196f3 !important;
}

.header-bg2 {
    background-color: #283a5a !important;
}

.card-header.text-light {
    color: #444444 !important;
}

.card-header {
    background-color: #eee !important;
}

.loading-area {
    min-height: 400px;
}

.content-loader-view {
    position: relative;
    width: 100%;
    height: 60.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-custom {
    /*top: 50%;*/
    /*left: 50%;*/
    position: unset;
}

.btn-active {
    background: #0c3244;
    border-color: #0c3244;
}

.options {
    position: relative;
    display: unset;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    /*overflow: scroll;*/
    /*overflow-y: hidden;*/
}

.options div {
    display: inline-block;
}

.options::-webkit-scrollbar {
    display: none;
}

.options h5 {
    font-size: 17px;
    margin-bottom: 0;
}

.options h5:first-child {
    /* margin-right: 10px; */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #fff;
    padding-right: 8px;
}

.options h5:nth-child(2) {
    padding-left: 0;
}

.options .item {
    cursor: pointer;
    border-right: 2px solid #e1e6f9;
    padding: 0 10px;
    /*font-size: 0.9vw;*/
    white-space: nowrap;
    transition: all .5s;
}

.options .item.active {
    /*color: #018def;*/
    color: #37517e;
    font-weight: 700;
}

.options .item:last-child {
    border-right: 0;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.table__heading {
    /*margin-bottom: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;*/

    margin-bottom: 0px;
    padding: 6px 10px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #47b2e4;
}

.table__heading h2, .table__heading h3, .table__heading h4, .table__heading h5 {
    font-weight: 900;
    margin: 0 20px 0 0;
}

.table__heading p {
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    padding-top: 10px;
}

.table .tbody tr td:hover {
    background-color: #e0eef9 !important;
}

.table tr th {
    /*background-color: #ccced0 !important;*/
    /*color: #4a4949;*/
    background-color: #bcd9f1 !important;
    color: #02548c;
    border: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    vertical-align: middle;
}

.table table tbody tr td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 15px;
    font-weight: 400;
}

.table-hover > tbody > tr:hover {
    /*--bs-table-accent-bg: rgb(20 145 216 / 8%) !important;*/
    --bs-table-accent-bg: rgb(255 255 224 / 33%) !important;
    color: var(--bs-table-hover-color);
}

.table tr th, .table tr td {
    /*min-width: 100px;*/
    /*max-width: 100px;*/
    padding-left: 0;
    padding-right: .5rem;
    /*text-align: center;*/
}

.table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.table thead tr th:first-child {
    /*min-width: 200px;*/
    /*max-width: 150px;*/
    padding-left: .5rem;
    text-align: left;
}


.table tr th:nth-child(1) {
    position: -webkit-sticky;
    position: sticky;
    background-color: #bcd9f1;
    z-index: 120;
    /*width: 100px;*/
    /*min-width: 100px;*/
    /*max-width: 100px;*/
    padding-left: .5rem;
    left: 0px;
}

.table tr td:nth-child(1) {
    position: relative;
    background-color: #fff;
    /*width: 150px;*/
    padding-left: .5rem;
    left: 0px;
}

.ttm-hold tr th:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    background-color: #bcd9f1;
    z-index: 120;
    width: 150px;
    /*min-width: 150px;*/
    /*max-width: 150px;*/
    padding-left: .5rem;
    left: 200px;
}

.ttm-hold tr td:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    background-color: #fff;
    width: 150px;
    /*min-width: 150px;*/
    /*max-width: 150px;*/
    padding-left: .5rem;
    left: 200px;
}

/*.table tbody tr:nth-child(even),
.table tbody tr:nth-child(even) td {
    background-color: #f2f3f3;
}*/

.table > :not(caption) > * > * {
    padding: .2rem .2rem;
    font-size: 14px;
}

table > :not(caption) > * > * {
    padding: .2rem .2rem;
    font-size: 14px;
}

@media (max-width: 575px) {
    .table > :not(caption) > * > * {
        font-size: 12px;
    }

    table > :not(caption) > * > * {
        font-size: 12px;
    }
}

table.full-width-table tr th,
.table.full-width-table tr td {
    min-width: inherit;
    max-width: inherit;
}

.stock-summary-banner {
    color: #055160;
    background-color: #e2f2ff;
    border-color: #b6effb;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stock-summary-banner .company-summary {
    justify-content: center;
}

.company-summary {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    /*margin-top: -.5em;*/
    /*float: right;*/
}

.company-summary > div {
    margin-right: .5em;
}

.company-name h3 {
    margin: 0;
}

.stock-summary-banner .stock-media-col {
    /*border-right: 2px solid #b6effb;*/
    /*border-right: 2px solid #dee2e6;*/
    text-align: center;
}

.stock-summary-media {
    justify-content: center;
    align-items: center;
}

.stock-summary-media img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #283a5a;
    background-color: #FFF;
    padding: 5px;
}

.stock-summary-media .media-body {
    padding-left: 1rem;
}

.stock-summary-media .media-body h1,
.stock-summary-media .media-body h2,
.stock-summary-media .media-body h3,
.stock-summary-media .media-body h4,
.stock-summary-media .media-body h5 {
    margin-bottom: 0;
}

.stock-summary-media .media-body small {
    color: #000;
}

.price-view sup {
    margin-left: -6px;
    font-weight: bold;
    font-size: .95rem;
}

.price-view small {
    font-size: .675em;
}

.stock-summary-status {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.stock-summary-status h6 {
    color: #262626;
    padding-right: 20px;
    border-right: 1px solid #dee2e6;
    margin-right: 20px;
}

.stock-summary-status h6:last-child {
    padding-right: 0;
    border-right: 0;
}

.stock-summary-status h6 small {
    font-size: .75em;
    display: block;
}

@media (max-width: 767px) {
    .company-summary > div {
        margin-right: 0;
    }

    .media.stock-summary-media {
        display: block;
    }

    .stock-summary-media img {
        width: 100px;
        height: 100px;
        margin-bottom: 1.5em;
    }

    .stock-summary-banner .stock-media-col {
        text-align: center;
        border-right: 0;
        border-bottom: 2px solid #dee2e6;
        /*margin-bottom: 3rem;*/
        padding-bottom: 3rem;
    }

    .stock-summary-status {
        flex-wrap: wrap;
    }

    .stock-summary-status h6 {
        width: 50%;
        display: block;
        text-align: center;
        margin-top: 3rem;
        margin-right: 0;
        padding-right: 0;
    }

    .stock-summary-status h6:nth-child(2) {
        border-right: 0;
    }

}

.three-line-legend {
    width: 96px;
    height: 70px;
    float: left;
    /*position: absolute;*/
    padding: 8px;
    font-size: 12px;
    color: #20262E;
    background-color: rgba(255, 255, 255, 0.23);
    text-align: left;
    z-index: 1000;
    pointer-events: none;
}

/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 16px;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:hover {
    color: #FFF;
    opacity: 0.95;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    /*border-right: #364e92 1px solid;*/
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    /*border-right: #BB3F30 1px solid;*/
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

/* Google */
.loginBtn--linkedin {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #2191e0;

}

.loginBtn--linkedin:before {
    /*border-right: #2191e0 1px solid;*/
}

.loginBtn--linkedin i {
    font-size: 16px;
    padding-top: 6px;
}

.loginBtn--linkedin:hover,
.loginBtn--linkedin:focus {
    background: #2191e0;
}

.seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
    margin-bottom: -18px;
}

.seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.btn-info.active {
    background-color: #63b3c3;
    border-color: #63b3c3;
}

/*----------------------------------------------
# Live-wire Search
/*--------------------------------------------*/
.company-search {
    position: relative;
}

.company-search .company-searches-container {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 500;
}

#search-hint-group {
    display: block;
    max-height: 50vh;
    overflow-y: auto;
}
/*----------------------------------------------
# TABS
/*--------------------------------------------*/
.nav-tabs {
    border-bottom: 1px solid #37517e;
}

.nav-tabs .nav-link {
    color: #37517e;
    font-weight: 600;
    border-bottom: 1px solid #37517e;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #37517e;
    border-color: #37517e;
}

.tradingview-widget-container {
    position: relative;
}

.tradingview-widget-container .fullscreen-btn {
    position: absolute;
    bottom: 36px;
    left: 11px;
    color: #FFF;
    font-size: 1.2rem;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.tradingview-widget-container .fullscreen-btn2 {
    position: absolute;
    bottom: 34px;
    left: 8px;
    color: #FFF;
    font-size: 1.5rem;
    padding: 0;
    width: 60px;
    height: 48px;
    line-height: 48px;
}

.mh-400 {
    height: auto;
    max-height: 400px;
}

/*----------------------------------------------
# Statement Tabs & Tables
/*--------------------------------------------*/
.statements-tabs {

}

.statements-tabs .list-group-item {
    font-weight: 600;
    padding: .4rem .4rem;
}

.statements-tabs .list-group-item:nth-child(odd) {
    background-color: #f5f5f5;
    /* border-color: #f5f5f5; */
}

.statements-tabs .list-group-item.active {
    background-color: #283a5a;
    border-color: #283a5a;
    color: white;
}

.statements-tables table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

/*.statements-tables table tr th a,
.statements-tables table tr td a{
    color: #212529;
}
.statements-tables > tbody > tr:hover {
    --bs-table-accent-bg: rgb(20 145 216 / 8%) !important;
    color: var(--bs-table-hover-color);
}*/
.statements-tables table tbody,
.statements-tables table td,
.statements-tables table tfoot,
.statements-tables table th,
.statements-tables table thead,
.statements-tables table tr {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

/*.statements-tables table>thead {
    vertical-align: bottom;
}
.statements-tables table>tbody {
    vertical-align: inherit;
}
.statements-tables table tr th {
    background-color: #bcd9f1 !important;
    color: #02548c;
    !*border: 0;*!
}
.statements-tables table tr th:nth-child(1) {
    position: -webkit-sticky;
    -webkit-position: sticky;
    position: sticky;
    left: 0;
    background-color: #bcd9f1;
    z-index: 120;
}
.statements-tables table tr td:nth-child(1) {
    position: -webkit-sticky;
    -webkit-position: sticky;
    position: sticky;
    left: 0;
    background-color: #fff;
}*/

.report table.authRefData {
    background-color: rgb(221 238 255);
    border: 1px solid #283a5a;
    font-size: 1em;
    position: absolute;
    top: 110%;
    left: 0;
    width: 400px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4), -5px 5px 15px rgb(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4), -5px 5px 15px rgb(0, 0, 0, 0.4);
    z-index: 210;
}

.report table.authRefData:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 10px;
    border: 10px solid transparent;
    border-bottom-color: #283a5a;
}

.report table.authRefData a {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
}

.report table.authRefData a:first-child {
    margin-top: 0;
}

.report table.authRefData p {
    margin-top: 3px;
    padding-left: 9px;
}

.report table.authRefData .hide {
    /*background-color: #2F4497;*/
    background-color: #283a5a;
    padding: 3px 8px;
    text-align: right;
}

.report table.authRefData .hide a:hover {
    background-color: #283a5a;
}

.report table.authRefData .body {
    height: 250px;
    overflow: auto;
    max-width: 400px;
}

.report table.authRefData .body::-webkit-scrollbar {
    /* display: none; */
    width: 7px;
    height: 7px;
}

.report table.authRefData .body::-webkit-scrollbar-thumb {
    /* background-color: #96a6b6; */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 3px solid transparent;
}

.report table.authRefData table {
    font-size: 1em;
    margin-top: 5px;
}

.report table.authRefData table > :not(caption) > * > * {
    padding: .2rem .2rem;
    font-size: 12px;
}

/* Report Styles */
.pl a, .pl a:visited {
    color: black;
    text-decoration: none;
}

/* table */
.report {
    background-color: white;
    border: 2px solid #acf;
    clear: both;
    color: black;
    font: normal 8pt Helvetica, Arial, san-serif;
    margin-bottom: 2em;
    width: 100%;
}

.report b, strong {
    font-weight: bold;
}

.report > :not(caption) > * > * {
    padding: .4rem .4rem;
}

.report hr {
    border: 1px solid #acf;
}

/* Top labels */
.report th {
    /*background-color: #acf;*/
    /*color: black;*/
    background-color: #bcd9f1;
    color: #02548c;
    font-weight: bold;
    /*text-align: center;*/
}

.report th.void {
    background-color: transparent;
    color: #000000;
    font: bold 10pt Helvetica, Arial, san-serif;
    text-align: left;
}

.report .pl {
    text-align: left;
    vertical-align: top;
    white-space: normal;
    /*width: 200px;*/
    white-space: normal; /* word-wrap: break-word; */
    position: relative;
}

.report td.pl a.a {
    cursor: pointer;
    display: block;
    width: 200px;
    overflow: hidden;
    /*font-weight: 600;*/
}

.report td.pl div.a {
    width: 200px;
}

.report td.pl a:hover {
    /*background-color: #ffc;*/
    color: #20536b;
}

/* Header rows... */
.report tr.rh {
    /*background-color: #acf;*/
    background-color: #bcd9f1;
    color: black;
    font-weight: bold;
}

.report tr.rh td.pl a.a {
    color: #02548c;
}

/* Calendars... */
.report .rc {
    background-color: #f0f0f0;
}

/* Even rows... */
.report .re, .report .reu {
    /*background-color: #def;*/
    background-color: #f2f7fd;
}

.report .reu td {
    border-bottom: 1px solid black;
}

/* Odd rows... */
.report .ro, .report .rou {
    background-color: white;
}

.report .rou td {
    border-bottom: 1px solid black;
}

.report .rou table td, .report .reu table td {
    border-bottom: 0px solid black;
}

/* styles for footnote marker */
.report .fn {
    white-space: nowrap;
}

/* styles for numeric types */
.report .num, .report .nump {
    text-align: right;
    white-space: nowrap;
}

.report .nump {
    padding-left: 2em;
}

.report .nump {
    padding: 0px 0.4em 0px 2em;
}

/* styles for text types */
.report .text {
    text-align: left;
    white-space: normal;
}

.report .text .big {
    margin-bottom: 1em;
    width: 17em;
}

.report .text .more {
    display: none;
}

.report .text .note {
    font-style: italic;
    font-weight: bold;
}

.report .text .small {
    width: 10em;
}

.report sup {
    font-style: italic;
}

.report .outerFootnotes {
    font-size: 1em;
}

/*********************** Report Css End ************************/

p {
    font-size: 14px;
}

.floating-tooltip-2 {
    width: auto;
    height: auto;
    position: absolute;
    display: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    color: #131722;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    z-index: 1000;
    top: 12px;
    left: 12px;
    pointer-events: none;
    border: 1px solid rgba(255, 70, 70, 1);
    border-radius: 2px;
}

.highlighted {
    background: #0dcaf0;
    color: white !important;
}

.custom-btn-sm {
    font-size: 12px;
    font-weight: 600;
}

.key-concepts {
    height: 110px;
    background: #e2f2fe;
}

.key-concepts-item {
    padding: 0px 10px;
    font-size: 12px;
    text-transform: lowercase;
    background: #e2f2fe;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.key-header {
    font-size: 12px;
    padding: 2px 12px;
}

a.list-group-item.list-group-item-action.key-concepts.border-start-0:first-child {
    border-top: 0px;
    border-radius: unset;
}

a.list-group-item.list-group-item-action.key-concepts.border-start-0:last-child {
    border-bottom: 0px;
}

a.list-group-item.list-group-item-action.key-concepts.border-start-0 {
    padding: 1px 10px;
}

.scrollable-card-body > #accordionExample {
    height: 151px;
}

.scrollable-card-body .accordion-item .accordion-button {
    border-left: 0;
}

.scrollable-card-body .accordion-item:first-of-type .accordion-button {
    border-top: 0;
    border-radius: unset;
}

.scrollable-card-body .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-width: 0px;
}

.transcript-heading {
    margin: -9px 37px;
}

.list-group-item.active {
    z-index: 2;
    color: #495057;
    background-color: #d9e3f3;
    border-color: #d9e3f3;
}

.company-name h3 {
    display: none;
}

.iframe-resp {
    height: inherit;
    width: -webkit-fill-available;
}

a.list-group-item.list-group-item-action:first-child {
    border-top: 0;
}

a.list-group-item.list-group-item-action:last-child {
    border-top: 0;
}

.financials-td {
    border-bottom: 1px solid #e2f2ff !important;
    width: 200px !important;
}

.statement-tr > th {
    width: 200px;
}

.bg-green-200-imp {
    background-color: #c6f6d5 !important;
}

tr > .financials-td:first-child {
    /*width: 200px !important;*/
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: inline-flex;*/
}

tr > .financials-td:first-child > span:first-child {
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
}


/* Custom Tooltip Styles */
.tooltip-content {
    visibility: hidden;
    position: absolute;
    color: #000;
    background: #F9FAFB;
    border: #283A5A solid 1px;
    margin-top: 30px;
    padding: 10px;    
    font-size: 12px;
}
.has-tooltip:hover .tooltip-content {
    visibility: visible;
    display: block;
    z-index: 100;
}
/* End of custom tooltip style */
td>span>.fas {
    font-size: 12px;
}

img{ max-width:100%;}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
}

#cliens{
    overflow: auto;
}

.card-header .has-tooltip {
    display: inline-block;
}

.alertSlider .tooltip-content
{
    margin-top: 0;
    height: 25vh !important;
}

.alertSlider .tooltip-content .carousel-control
{
    background: none;
    display: inline-block;
    width: 0 !important;
}

.alertSlider .tooltip-content .bx-skip-previous
{
    background: black;
    border: 3px;
    border-radius: 20px;
    top: 6px;
    right: -25px;
    position: absolute;
}

.alertSlider .tooltip-content .bx-skip-next
{
    background: black;
    border: 3px;
    border-radius: 20px;
    top: 5px;
    right: 5px;
    position: absolute;
}

.alertSlider .tooltip-content .carousel-inner{
    padding: 30px;
}

.alertSlider .tooltip-content
{
    padding: 0;
    max-height: 50vh;
    overflow: auto;
}

a.left.carousel-control.disabled>i, a.right.carousel-control.disabled>i {
    background-color: #c1c1c1 !important;
    cursor: not-allowed;
}

/* Himanshu Bansal Added code of right key concepts in custom.css on 14 june 2021 */
/* styling of .right-keyconcept */
.right-Industryinformation, .left-keyconcept {
    overflow-y: auto;
    max-height: 200px !important;
}
/* set position of .has-tooltip relative to .right-keyconcept */
.right-Industryinformation span.has-tooltip {
    position: static;
    display: inline-block;
}

.left-keyconcept span.has-tooltip{
    display: inline-block;
}

/* styling of .tooltip-content wrt .right-Industryinformation */
.right-Industryinformation .tooltip-content, .left-keyconcept .tooltip-content{
    overflow-y: auto;
    max-height: 130px !important;
}
/* width of scrollbar */
.right-Industryinformation::-webkit-scrollbar {
    width: 10px;
} 

/* Handle */
.right-Industryinformation::-webkit-scrollbar-thumb {
    background: rgb(204 204 204); 
    border-radius: 10px;
}

.right-Industryinformation::-webkit-scrollbar {
    width: 5px !important;
}

#ui-id-1
{
    z-index: 99999;
}

#searchContainer {
    display: none;
}

#searchContainer{
    display: block;
    max-height: 50vh;
    overflow-y: auto;
}

.list-group-item:hover{
    z-index: 2;
    color: #47b2e4;
    background-color: #bfe8fb;
    border-color: #bfe8fb;
}

.list-group-item:first-child{
    text-align: left;
}

a[id^=charting_technical_analysis_alert]:focus,a[id^=charting_technical_analysis_alert]:active
{
    color:white !important;
}

a[id^=screening_alert]:focus,a[id^=screening_alert]:active
{
    color:white !important;
}

/* * {
    -webkit-touch-callout: none; /* iOS Safari */
      /*-webkit-user-select: none; /* Safari */
       /*-khtml-user-select: none; /* Konqueror HTML */
         /*-moz-user-select: none; /* Old versions of Firefox */
          /*-ms-user-select: none; /* Internet Explorer/Edge */
            /*  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  /*} */
  
.ttm-hold tbody tr {
    height: 24.32px !important;
}
#searchCompanyBTN{
    display: block;
    padding: 10px;
    margin-right: -11px;
    background: #8aa7bf !important;
}    
.dropdown.dropdownInBlock
{
 display:inline-block;
}

.network-container{
    padding: 10px;
}

.show_loading{
    margin-right: 3px;
}

.ratioSlider .tooltip-content{
    margin-top: 0;
}

.financialSlider .tooltip-content{
    margin-top: 0;
    white-space: normal;
    max-width: unset;
    width: 300px;
}

#dropdownMenuButton1 {
    display: inline-block;
}
#innerpageMenu a{
    float: left;
    padding-right: 3px !important;
}
#innerpageMenu ul li i {
    vertical-align: bottom;
    color: #e2f2fe;
}

#innerpageMenu ul li i:hover{
    color: #93aee0;
}

.media.stock-summary-media img{
    margin:0 auto !important;
}

.left-keyconcept ul.nav.nav-tabs.myTab, .right-Industryinformation ul.nav.nav-tabs.myTab{
    display: table;
}

.left-keyconcept ul.nav.nav-tabs.myTab li, .right-Industryinformation ul.nav.nav-tabs.myTab li{
    display: table-cell;
}

.left-keyconcept .tooltip-content, .right-Industryinformation .tooltip-content {
    max-width: 60vw;
    width: min-content;
    min-width: 20rem !important;
} 

.left-keyconcept .nav-tabs .nav-link, .right-Industryinformation .nav-tabs .nav-link{
        border-bottom: unset !important;
}

/* width of scrollbar */
.left-keyconcept .tooltip-content::-webkit-scrollbar, .right-Industryinformation .tooltip-content::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.left-keyconcept .tooltip-content::-webkit-scrollbar-thumb, .right-Industryinformation .tooltip-content::-webkit-scrollbar-thumb {
    background: rgb(204 204 204); 
    border-radius: 10px;
}

.right-Industryinformation .tooltip-content {
    display: none;
}

.right-Industryinformation .has-tooltip:hover .badge, .left-keyconcept .has-tooltip:hover .badge {
    font-weight: bolder;
    background-color:darkblue !important;
}

.bottom-table .tooltip-content{
    bottom: 0;
}

.carousel .carousel-control.disabled{
    display: none;

}

.financial .table-responsive.scrollable-card-body.shadow{
    overflow-x:auto;
    overflow-y: hidden;
    transform: rotateX(180deg);
}
 
.top-scrollbars {
transform: rotateX(180deg);
}

.rotateempty {
    transform: rotateX(180deg);
    }

/* tooltip css start 10-June-2022 */
.financials-td:first-child > span {
    display: inline-block;
    position: relative;
    overflow: visible;
    cursor: pointer;
}
.financials-td:first-child > span:hover {
    color: #02548c;
}
/* .financials-td:first-child > span:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #000;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
}
.financials-td:first-child > span:hover:before {
    opacity: 1;
} */
/* tooltip css end 10-June-2022 */

/*22-12 2022 modal code */
    /* The Modal (background) */
    .modal {
        /*display: none; Hidden by default */
       display: table
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       padding-top: 100px; /* Location of the box */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow: auto; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }
     
     /* Modal Content */
     .modal-content {
       background-color: #fefefe;
       margin: auto;
       padding: 20px;
       border: 1px solid #888;
       width: 80%;
     }
     
     /* The Close Button */
     .close {
       color: #aaaaaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
     }
     
     .close:hover,
     .close:focus {
       color: #000;
       text-decoration: none;
       cursor: pointer;
     }