/*
 * Name: Deepak singh
 * Date: 14/06/21;
 * Updated On: 18/06/21;
*/
 .left-keyconcept span.has-tooltip {
    position:static;
} 

.left-keyconcept {
	overflow-y: auto;
	max-height: 200px !important;    
}
.row.key-industry-library {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.key-industry-library .left-keyconcept {
	max-height: 100% !important;
	overflow: initial;
	margin-bottom: 1rem;
}
.row.key-industry-library .left-keyconcept span.has-tooltip {
    position:relative;
} 
.row.key-industry-library .left-keyconcept .tooltip-content {
    max-width: 50vw;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
	margin-top: 24px !important;
}
.row.key-industry-library .left-keyconcept .tooltip-content.lengthy-tooltip {
    left: initial !important;
	right: 0;
}
.row.key-industry-library .left-keyconcept .has-tooltip .badge {
	cursor: pointer;
}
.left-keyconcept::-webkit-scrollbar {
	width: 5px;
}

.left-keyconcept::-webkit-scrollbar-thumb {
	background: #cccccc; 
	border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #93aee0 !important;
}

.navbar-light .navbar-nav .nav-link.charting_tech_anal:focus{
	color: #e2f2fe !important;
}

.navbar-light .navbar-nav .nav-link:not(.active):focus
{
	color: #e2f2fe !important;
}