.video_container{
	position: relative;
	display: inline-block;
}

.remove_video{
	position: absolute;
	right: 0;
	background: #283a5a;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #cfe2ff;
	cursor: pointer;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: normal;
}

.excel_file_upload{
	opacity: 1;
}