body{
    background-color: #cfe2ff;
}
.az-signin-wrapper{
    position: relative;
    overflow: hidden;
}
.magic-ball1,
.magic-ball2{
    width: 120px;
    height: 120px;
    /* background-color: #cfe2ff; */
    /* border: 10px solid #283a5a; */
    border-radius: 10px;
    position: absolute;
}
.magic-ball1 {
    top: -15px;
    left: -15px;
    /*box-shadow: 5px 5px 20px rgba(0,0,0,.2);*/
    -webkit-box-shadow: 5px 5px 20px rgb(40 58 90 / 10%);
    box-shadow: 5px 5px 20px rgb(40 58 90 / 10%);
}
.magic-ball2 {
    bottom: -15px;
    right: -15px;
    /*box-shadow: 5px 5px 20px rgba(0,0,0,.2);*/
    -webkit-box-shadow: -5px -5px 20px rgb(40 58 90 / 10%);
    box-shadow: -5px -5px 20px rgb(40 58 90 / 10%);
}

.magic-ball3 {
    width: 100px;
    height: 100px;
    /* background-color: #cfe2ff; */
    border: 10px solid #283a5a;
    border-radius: 10px;
    /*box-shadow: -5px 5px 20px rgba(0,0,0,.5);*/
    -webkit-box-shadow: inset 5px 5px 20px rgb(40 58 90 / 40%), -5px -5px 20px rgb(255 255 255 / 50%);
    box-shadow: inset 5px 5px 20px rgb(40 58 90 / 40%), -5px -5px 20px rgb(255 255 255 / 50%);
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
}

.text-dark-blue{
    color: #283a5a;
}
.bg-dark-blue{
    background-color: #283a5a;
}
.az-card-signin {
    background-color: rgb(40 58 90);
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px rgb(40 58 90 / 40%);
    box-shadow: 5px 5px rgb(40 58 90 / 40%);
    position: relative;
    /*z-index: 150;*/
}
.az-logo{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    color: #FFF;
    border-bottom: 1px solid #9999;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.az-logo:hover, .az-logo:focus {
    color: #cfe2ff;
}
.az-signin-header h4 {
    color: #CCC;
}
.az-signin-header label {
    /*color: #70737c;*/
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}
.az-signin-header .form-control {
    border-width: 2px;
    border-color: rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    color: #FFF;
    font-weight: normal;
}
.az-signin-header .form-control::-webkit-placeholder{
    color: #cfe2ff;
}
.az-signin-header .form-control::placeholder{
    color: #cfe2ff;
}
.az-signin-footer a {
    color: #97ceff;
    font-weight: 700;
    margin-top: 13px;
    display: inline-block;
}
.az-signin-footer a:hover, .az-signin-footer a:focus {
    color: #ffffff;
}



@media (max-width: 479px) {
    .az-card-signin {
        width: 75%;
    }
    .magic-ball1, .magic-ball2 {
        width: 80px;
        height: 80px;
    }
    .magic-ball1 {
        top: -10px;
        left: -10px;
    }
    .magic-ball2 {
        bottom: -10px;
        right: -10px;
    }
    .magic-ball3 {
        width: 80px;
        height: 80px;
        top: -20px;
        left: -20px;
    }
    .az-logo{
        font-size: -webkit-calc(24px - 1vw);
        font-size: calc(24px - 1vw);
    }
    .az-signin-header h4 {
        font-size: -webkit-calc(18px - .5vw);
        font-size: calc(18px - .5vw);
    }

}













